body {
  background-color: rgb(30, 30, 30);
  margin: 0;
}

header {
  background: rgb(40, 40, 40);
  box-shadow: 0px 0vh 30vh rgba(0, 0, 0, 1);
  position: relative;
  z-index: 10;
}

.logotype {
  color: white;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.07ch;
  margin: 0;
  font-size: max(1.25rem, 3vh);
  padding: max(0.625rem, 1.5vh);
}

.line {
  height: max(1px, 0.2vh);
  background: rgb(45, 45, 45);
}

.img {
  position: fixed;
  height: max(300px, 45vh);
  transition-timing-function: ease-out;
  top: max(93px, 14vh);
  left: min(max(400px, 60vh), 50vw);
  transform: translate(-100%);
  z-index: 11;
}

.img-1 {
  transition-duration: 200ms;
}

.img-2 {
  transition-duration: 140ms;
}

.img-3 {
  transition-duration: 80ms;
}

.img-4 {
  transition-duration: 60ms;
}

.img-5 {
  transition-duration: 20ms;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  position: absolute;
  margin: 0;
  font-size: 2rem;
  /*width:8ch;*/
  top: max(243px, 36.5vh);
  left: min(max(400px, 60vh), 50vw);
  transform: translate(2%, -50%);
}

.container {
  height: max(386px, 58vh);
  background: url(./evs1t6179dn71.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow{
  width: 15vh;
  vertical-align: bottom;
}

.disc-text{
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.disclaimer{
  position: absolute;
  top:max(400px,60vh);
  left: min(max(200px, 30vh), 25vw);
}
