:root{
  --bg-color:rgb(255, 255, 255);
  --txt-color:rgb(0,0,0);
  --detail-color:rgb(221, 221, 221);
  --bg-gray:rgb(245, 245, 245);
  --bg-darkgray:rgb(232, 232, 232);
  --bg-image:url(./okb1t6179dn71.png);
  --invert:0;
  --flair:inline-block;
}

body{
  margin: 0;
  background: var(--bg-gray);
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  color: var(--txt-color);
}

header{
  font-size: 0;
  position: fixed;
  line-height: 1;
  width: 100%;
  z-index: 2;
}

.content-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: max(0.75rem ,1vh + 0.375rem);
  background:var(--bg-color);
}

header h2{
  font-size: max(1.5rem ,2vh + 0.75rem);
}

.logotype{
  display: inline-block;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.07ch;
  position: relative;
}

.transition-container{
  margin-top:min(-1.5rem ,-2vh - 0.75rem);
}

.spacer{
  width: max(8.25rem ,11vh + 4.125rem);
}

.settings{
  height: max(1.5rem ,2vh + 0.75rem);
  cursor: pointer;
  filter: invert(var(--invert));
}

.line {
  height: max(1px, 0.1vh);
  background: var(--detail-color);
}

.menu{
  font-size: max(1rem ,1.25vh + 0.5rem);
  color: var(--txt-color);
  float: right;
  margin: 0;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  padding: max(0.9rem ,1.125vh + 0.45rem);
  border-radius: max(0.12rem ,0.6vh + 0.24rem);
  background: var(--bg-color);
  box-shadow: 0.5vh 0.5vh 0.8vh rgba(0, 0, 0, 0.08);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0.1vh;
  z-index: 2;
  top:max(3.08rem ,4.1vh + 1.5375rem);
}

.menu h3{
  display: inline-block;
}

input{
  display: inline-block;
  transform: scale(1.6);
  margin: max(0.12rem ,0.6vh + 0.24rem);
}

li{
  margin: max(0.9rem ,1.125vh + 0.45rem);
  display: flex;
  align-items: center;
}

header[data-logotype="0"] .longform{
  opacity: 0;
  animation: dissappear 0.4s ease;
}
@keyframes dissappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
header[data-logotype="1"] .longform{
  opacity: 1;
  animation: appear 0.4s ease-in;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header .logotype:nth-child(2n){
  left:1.1ch;
}

header[data-logotype="0"] .logotype:nth-child(2n){
  left:0;
  animation: collapes 0.4s ease;
}

@keyframes collapes {
  from{
    left:1.1ch;
  }
  50%{
    left:1.1ch;
  }
  to{
    left:0;
  }
}

header[data-logotype="1"] .logotype:nth-child(2n){
  left:1.1ch;
  animation: explode 0.4s ease-in;
}

@keyframes explode {
  from{
    left:0;
  }
  50%{
    left:1.1ch;
  }
  to{
    left:1.1ch;
  }
}

header .logotype:nth-child(3n){
  left:5.3ch;
}

header[data-logotype="0"] .logotype:nth-child(3n){
  left:0;
  animation: collapes1 0.4s ease;
}

@keyframes collapes1 {
  from{
    left:5.3ch;
  }
  50%{
    left:5.3ch;
  }
  to{
    left:0;
  }
}

header[data-logotype="1"] .logotype:nth-child(3n){
  left:5.3ch;
  animation: explode1 0.4s ease-in;
}

@keyframes explode1 {
  from{
    left:0;
  }
  50%{
    left:5.3ch;
  }
  to{
    left:5.3ch;
  }
}

.menu[data-settings="0"]{
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  animation: dissappearmenu 0.2s ease;
}
@keyframes dissappearmenu {
  from {
    opacity: 1;
    visibility:visible;
    pointer-events: all;
  }
  99%{
    visibility: visible;
    pointer-events: all;
  }
  to {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.menu[data-settings="1"]{
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  animation: appearmenu 0.2s ease-in;
}
@keyframes appearmenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.containerh {
  top:max(3rem ,4vh + 1.5rem);
  position:relative;
  padding-top:max(3rem ,4vh + 1.5rem);
  padding-bottom:max(3rem ,4vh + 1.5rem);
  padding-left: max(1.5rem ,2vh + 0.75rem);
  padding-right: max(1.5rem ,2vh + 0.75rem);
  background: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0vh 0vh 1vh rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

.img {
  height: max(300px, 45vh);
}
.phrase{
  font-family: "Montserrat", sans-serif;
  color: var(--txt-color);
  font-size: max(1.5rem ,2vh + 0.75rem);
  padding-left: max(1.5rem ,2vh + 0.75rem);
  padding-top: max(1.5rem ,2vh + 0.75rem);
  min-width: 10vh;
  text-align: center;
}

.post {
  width: fit-content;
  background: var(--bg-color);
  margin: 9vh auto;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.08ch;
  box-shadow: 0.5vh 0.5vh 0.8vh rgba(0, 0, 0, 0.08);
}

.title {
  font-size: max(1.2rem ,1.6vh + 0.6rem);
  margin: 0;
  margin-bottom: 1vh;
}

.author {
  font-size: max(1rem ,1.25vh + 0.5rem);
  margin: 0;
  display: inline-block;
}

.updoot{
  float: right;
  font-size: max(1rem ,1.25vh + 0.5rem);
  margin: 0.6rem;
  margin-left: 1.2rem;
}

.dot {
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  margin: 0;
  display: var(--flair);
}

.flair {
  /*margin-bottom: 0.5vh; Use this to change the position inside the line*/
  display: var(--flair);
  vertical-align: bottom;
  height: max(1.2rem ,1.6vh + 0.6rem);
  filter: invert(var(--invert));
}

.button {
  border: max(1px, 0.2vh) solid var(--detail-color);
  background: var(--bg-darkgray);
  width: fit-content;
  height: 1.2rem;
  margin-top: 1.5vh;
  border-radius: 1vh;
  padding: 1vh;
  letter-spacing: 0.08ch;
}

.cursorpath{
  margin-top: 0;
  overflow: hidden;
}

.meme {
  width: var(--width);
  margin: auto;
  display: none;
}

.post[data-show-post="0"] .meme{
  display: none;
}

.post[data-show-post="1"] .meme:nth-child(1){
  display: block;
}

.post[data-show-post="2"] .meme:nth-child(2){
  display: block;
}

.container {
  width: var(--width);
}

:root {
  --width: 640px;
}