body {
  background-color: rgb(30, 30, 30);
  margin: 0;
}

header {
  background: rgb(40, 40, 40);
  box-shadow: 0px 0vh 30vh rgba(0, 0, 0, 1);
  position: relative;
  z-index: 10;
}

.logotype {
  color: white;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.07ch;
  margin: 0;
  font-size: max(1.25rem, 3vh);
  padding: max(0.625rem, 1.5vh);
}

.line {
  height: max(1px, 0.2vh);
  background: rgb(45, 45, 45);
}

.img {
  position: fixed;
  height: max(300px, 45vh);
  transition-timing-function: ease-out;
  top: max(93px, 14vh);
  left: min(max(400px, 60vh), 50vw);
  transform: translate(-100%);
  z-index: 11;
}

.img-1 {
  transition-duration: 200ms;
}

.img-2 {
  transition-duration: 140ms;
}

.img-3 {
  transition-duration: 80ms;
}

.img-4 {
  transition-duration: 60ms;
}

.img-5 {
  transition-duration: 20ms;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  position: absolute;
  margin: 0;
  font-size: 2rem;
  /*width:8ch;*/
  top: max(243px, 36.5vh);
  left: min(max(400px, 60vh), 50vw);
  transform: translate(2%, -50%);
}

.container {
  height: max(386px, 58vh);
  background: url(./evs1t6179dn71.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow {
  width: 15vh;
  vertical-align: bottom;
}

.disc-text {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.disclaimer {
  position: absolute;
  top: max(400px, 60vh);
  left: min(max(200px, 30vh), 25vw);
}

.post {
  border: max(1px, 0.2vh) solid rgb(60, 60, 60);
  width: 640px;
  background: rgb(50, 50, 50);
  margin: 9vh auto;
  border-radius: 1vh;
  padding: 2vh;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.08ch;
}

.title {
  color: white;
  margin: 0;
  display: inline-block;
}

.dot {
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  color: white;
  margin: 0;
  display: inline-block;
}

.flair{
  margin-bottom: 0.5vh;
  display: inline-block;
  vertical-align: bottom;
  height: 1rem;
}

details{
  color: white;
  height: 1rem;
}

.button {
  border: max(1px, 0.2vh) solid rgb(54, 61, 85);
  background: rgb(49, 52, 63);
  width: 8ch;
  margin-top: 1.5vh;
  border-radius: 1vh;
  padding: 1vh;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.08ch;
}
